  <!-- rmarkdown fragment dygraphs -->
  <script src="{{ site.baseurl }}/assets/libs/jquery-1.11.3/jquery.min.js"></script>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
  <script src="{{ site.baseurl }}/assets/libs/htmlwidgets-0.7/htmlwidgets.js"></script>
  <link href="{{ site.baseurl }}/assets/libs/dygraphs-1.1.1/dygraph.css" rel="stylesheet" />
  <script src="{{ site.baseurl }}/assets/libs/dygraphs-1.1.1/dygraph-combined.js"></script>
  <script src="{{ site.baseurl }}/assets/libs/moment-2.8.4/moment.js"></script>
  <script src="{{ site.baseurl }}/assets/libs/moment-timezone-0.2.5/moment-timezone-with-data.js"></script>
  <script src="{{ site.baseurl }}/assets/libs/dygraphs-binding-1.1.1.1/dygraphs.js"></script>

